In [1]:
from selenium import webdriver
import pandas as pd
# pandas to store data in csv and manipulate data

#We have dynamically Javascript rendered content 
#Selenium is a module that allows you to access a web browser through Python. With Selenium, 
#you can use Python code to open a web browser, navigate to a page
#turn the page's inner HTML, from which you can then scrape the data you need. 
#Using selenium with Firefox web driver
#web driver we need to install a web browser engine, geckodriver
#We can inspect the element of interest and within the toolbar, right-click then click inspect
#xpath help to find elements

In [2]:
url ='https://techolution.app.param.ai/jobs/'

In [3]:
# web browser engine, geckodriver path
driver = webdriver.Firefox('/usr/local/bin')

In [4]:
driver.get(url)

In [8]:
cat = driver.find_elements_by_xpath("//*[@class='sixteen wide mobile eleven wide tablet eleven wide computer column']")
cat

In [9]:
#loop and save data we need 
for result in cat:
    job_name = result.text
job_name

'Information Technology\nMagento Developer\nFull-time · Hyderabad · 2 - 8 Years\n16 hours ago\nPython Developer\nFull-time · Hyderabad · 1 - 3 Years\n9 days ago\nComputer Vision Engineer / Machine Learning Engineer\nInternship · Hyderabad · 0 - 1 Years\n10 days ago\nCloud Native Developer\nFull-time · Hyderabad · 2 - 5 Years\na month ago\nData Scientist Intern\nInternship · Hyderabad · 0 - 4 Years\na month ago\nEmbedded Engineer\nFull-time · Hyderabad · 2 - 4 Years\na month ago\nSystem Engineer\nInternship · Mauritius · 0 - 1 Years\na month ago\nAssociate QA Engineer\nFull-time · Hyderabad · 1 - 3 Years\na month ago\nFull Stack Developer\nFull-time · Hyderabad · 4 - 9 Years\n2 months ago\nAndroid Mobile Developer\nFull-time · mauritius · 3 - 8 Years\n2 months ago\niOS Developer\nFull-time · Hyderabad · 3 - 10 Years\n2 months ago\nAssociate Cloud Engineer\nFull-time · Hyderabad · 0 - 3 Years\n2 months ago\nSr Full Stack Developer\nFull-time · Mauritius · 3 - 8 Years\n2 months ago\nBlockchain Developer\nFull-time · Hyderabad · 1 - 4 Years\n2 months ago\nJunior Cloud Native Developer\nFull-time · Delaware · 1 - 2 Years\n2 months ago\nLead DevOps Engineer\nFull-time · Hyderabad · 5 - 11 Years\n3 months ago\nSite Reliability Engineer\nFull-time · New York · 1 - 3 Years\n3 months ago\nOSS DevOps Engineer\nFull-time · Hyderabad · 6 - 12 Years\n3 months ago\nSr SDET\nFull-time · New York · 3 - 10 Years\n3 months ago\nDevOps Architect\nFull-time · Hyderabad · 5 - 15 Years\n3 months ago\nEngineering Lead\nFull-time · mauritius · 7 - 18 Years\n3 months ago\nMarketing\nSocial Media Intern\nInternship · Hyderabad · 0 Years\n17 hours ago\nProject Management\nProject Manager\nFull-time · Hyderabad · 2 - 5 Years\n14 days ago\nHuman Resources\nTalent Acquisition Specialist\nFull-time · Hyderabad · 1 - 5 Years\n14 days ago\nQuality Assurance\nSr.QA Engineer\nFull-time · Hyderabad · 3 - 5 Years\n19 days ago\nEvent Management\nHR and Community Specialist\nFull-time · New York · 0 - 3 Years\n3 months ago\nFacial recognition\nMachine Learning Engineer\nFull-time · Hyderabad · 3 - 5 Years\n3 months ago'

In [10]:
# for col
results = driver.find_elements_by_xpath("//*[@class='ui stackable grid container']")
for result in results:
    job_col = result.text
col=job_col.split('Information Technology\n')[0].split('\n')
col

['Job Openings',
 '27 Positions',
 'All Job types',
 'All Locations',
 'All Categories',
 '']

In [11]:
#new col
col =['Categories',
    'Job Openings',
 'Job types',
 'Locations',
 'Experience',
 'Post_date',]

In [12]:
# split jobs
joblist=job_name.split('ago\n')

In [13]:
joblist=joblist[:27]
joblist

['Information Technology\nMagento Developer\nFull-time · Hyderabad · 2 - 8 Years\n16 hours ',
 'Python Developer\nFull-time · Hyderabad · 1 - 3 Years\n9 days ',
 'Computer Vision Engineer / Machine Learning Engineer\nInternship · Hyderabad · 0 - 1 Years\n10 days ',
 'Cloud Native Developer\nFull-time · Hyderabad · 2 - 5 Years\na month ',
 'Data Scientist Intern\nInternship · Hyderabad · 0 - 4 Years\na month ',
 'Embedded Engineer\nFull-time · Hyderabad · 2 - 4 Years\na month ',
 'System Engineer\nInternship · Mauritius · 0 - 1 Years\na month ',
 'Associate QA Engineer\nFull-time · Hyderabad · 1 - 3 Years\na month ',
 'Full Stack Developer\nFull-time · Hyderabad · 4 - 9 Years\n2 months ',
 'Android Mobile Developer\nFull-time · mauritius · 3 - 8 Years\n2 months ',
 'iOS Developer\nFull-time · Hyderabad · 3 - 10 Years\n2 months ',
 'Associate Cloud Engineer\nFull-time · Hyderabad · 0 - 3 Years\n2 months ',
 'Sr Full Stack Developer\nFull-time · Mauritius · 3 - 8 Years\n2 months ',
 'Blockchain Developer\nFull-time · Hyderabad · 1 - 4 Years\n2 months ',
 'Junior Cloud Native Developer\nFull-time · Delaware · 1 - 2 Years\n2 months ',
 'Lead DevOps Engineer\nFull-time · Hyderabad · 5 - 11 Years\n3 months ',
 'Site Reliability Engineer\nFull-time · New York · 1 - 3 Years\n3 months ',
 'OSS DevOps Engineer\nFull-time · Hyderabad · 6 - 12 Years\n3 months ',
 'Sr SDET\nFull-time · New York · 3 - 10 Years\n3 months ',
 'DevOps Architect\nFull-time · Hyderabad · 5 - 15 Years\n3 months ',
 'Engineering Lead\nFull-time · mauritius · 7 - 18 Years\n3 months ',
 'Marketing\nSocial Media Intern\nInternship · Hyderabad · 0 Years\n17 hours ',
 'Project Management\nProject Manager\nFull-time · Hyderabad · 2 - 5 Years\n14 days ',
 'Human Resources\nTalent Acquisition Specialist\nFull-time · Hyderabad · 1 - 5 Years\n14 days ',
 'Quality Assurance\nSr.QA Engineer\nFull-time · Hyderabad · 3 - 5 Years\n19 days ',
 'Event Management\nHR and Community Specialist\nFull-time · New York · 0 - 3 Years\n3 months ',
 'Facial recognition\nMachine Learning Engineer\nFull-time · Hyderabad · 3 - 5 Years\n3 months ago']

In [14]:
df = pd.DataFrame(data=joblist,columns=['job'])

In [15]:
df['job']=df['job'].apply(lambda x : x.replace('·','\n').split('\n'))
total_len=len(df.loc[0][0])
total_len

6

In [16]:
total_len=len(df.loc[0][0])
total_len

6

In [17]:
new_df= pd.DataFrame(columns=col)
df.loc[0].values[0][0]

'Information Technology'

In [18]:
# convert to diff types
for i in range(len(df)):
        if(total_len==len(df.loc[i][0])):
            #if Categories
            j=0
            #store categoriaes
            cat=[df.loc[i][0][0]]
           # print(j)
            new_df.loc[i] =cat+[df.loc[i][0][1-j]]+[df.loc[i][0][2-j]]+[df.loc[i][0][3-j]]+[df.loc[i][0][4-j]]+[df.loc[i][0][5-j]]
        else:
            j=1
            new_df.loc[i] =cat+[df.loc[i][0][1-j]]+[df.loc[i][0][2-j]]+[df.loc[i][0][3-j]]+[df.loc[i][0][4-j]]+[df.loc[i][0][5-j]]

In [19]:
new_df

,Categories,Job Openings,Job types,Locations,Experience,Post_date
0,Information Technology,Magento Developer,Full-time,Hyderabad,2 - 8 Years,16 hours
1,Information Technology,Python Developer,Full-time,Hyderabad,1 - 3 Years,9 days
2,Information Technology,Computer Vision Engineer / Machine Learning En...,Internship,Hyderabad,0 - 1 Years,10 days
3,Information Technology,Cloud Native Developer,Full-time,Hyderabad,2 - 5 Years,a month
4,Information Technology,Data Scientist Intern,Internship,Hyderabad,0 - 4 Years,a month
5,Information Technology,Embedded Engineer,Full-time,Hyderabad,2 - 4 Years,a month
6,Information Technology,System Engineer,Internship,Mauritius,0 - 1 Years,a month
7,Information Technology,Associate QA Engineer,Full-time,Hyderabad,1 - 3 Years,a month
8,Information Technology,Full Stack Developer,Full-time,Hyderabad,4 - 9 Years,2 months
9,Information Technology,Android Mobile Developer,Full-time,mauritius,3 - 8 Years,2 months
10,Information Technology,iOS Developer,Full-time,Hyderabad,3 - 10 Years,2 months
11,Information Technology,Associate Cloud Engineer,Full-time,Hyderabad,0 - 3 Years,2 months
12,Information Technology,Sr Full Stack Developer,Full-time,Mauritius,3 - 8 Years,2 months
13,Information Technology,Blockchain Developer,Full-time,Hyderabad,1 - 4 Years,2 months
14,Information Technology,Junior Cloud Native Developer,Full-time,Delaware,1 - 2 Years,2 months
15,Information Technology,Lead DevOps Engineer,Full-time,Hyderabad,5 - 11 Years,3 months
16,Information Technology,Site Reliability Engineer,Full-time,New York,1 - 3 Years,3 months
17,Information Technology,OSS DevOps Engineer,Full-time,Hyderabad,6 - 12 Years,3 months
18,Information Technology,Sr SDET,Full-time,New York,3 - 10 Years,3 months
19,Information Technology,DevOps Architect,Full-time,Hyderabad,5 - 15 Years,3 months
20,Information Technology,Engineering Lead,Full-time,mauritius,7 - 18 Years,3 months
21,Marketing,Social Media Intern,Internship,Hyderabad,0 Years,17 hours
22,Project Management,Project Manager,Full-time,Hyderabad,2 - 5 Years,14 days
23,Human Resources,Talent Acquisition Specialist,Full-time,Hyderabad,1 - 5 Years,14 days
24,Quality Assurance,Sr.QA Engineer,Full-time,Hyderabad,3 - 5 Years,19 days
25,Event Management,HR and Community Specialist,Full-time,New York,0 - 3 Years,3 months
26,Facial recognition,Machine Learning Engineer,Full-time,Hyderabad,3 - 5 Years,3 months ago

In [20]:
# data according to the date of posting(Most old first)
def covert(x):
    v=x.split(' ')
    if(v[0]=='a'):
        r=30 #appox
    elif(v[1]=='hours'):
        r=int(v[0])*1/24
    elif(v[1]=='months'):
        r=int(v[0])*30
    else:
        r=int(v[0])*1
    return r

In [21]:
new_df['r']=new_df['Post_date'].apply(lambda x: covert(x))
new_df=new_df.sort_values(by='r',ascending=False)

In [22]:
new_df.drop(['r'],inplace=True,axis=1)
new_df.to_csv('date_of_posting',index=False)

In [23]:
d =pd.read_csv('date_of_posting')

In [24]:
d # cross-check result

,Categories,Job Openings,Job types,Locations,Experience,Post_date
0,Facial recognition,Machine Learning Engineer,Full-time,Hyderabad,3 - 5 Years,3 months ago
1,Event Management,HR and Community Specialist,Full-time,New York,0 - 3 Years,3 months
2,Information Technology,Engineering Lead,Full-time,mauritius,7 - 18 Years,3 months
3,Information Technology,DevOps Architect,Full-time,Hyderabad,5 - 15 Years,3 months
4,Information Technology,Sr SDET,Full-time,New York,3 - 10 Years,3 months
5,Information Technology,OSS DevOps Engineer,Full-time,Hyderabad,6 - 12 Years,3 months
6,Information Technology,Site Reliability Engineer,Full-time,New York,1 - 3 Years,3 months
7,Information Technology,Lead DevOps Engineer,Full-time,Hyderabad,5 - 11 Years,3 months
8,Information Technology,Associate Cloud Engineer,Full-time,Hyderabad,0 - 3 Years,2 months
9,Information Technology,Junior Cloud Native Developer,Full-time,Delaware,1 - 2 Years,2 months
10,Information Technology,Sr Full Stack Developer,Full-time,Mauritius,3 - 8 Years,2 months
11,Information Technology,Blockchain Developer,Full-time,Hyderabad,1 - 4 Years,2 months
12,Information Technology,iOS Developer,Full-time,Hyderabad,3 - 10 Years,2 months
13,Information Technology,Android Mobile Developer,Full-time,mauritius,3 - 8 Years,2 months
14,Information Technology,Full Stack Developer,Full-time,Hyderabad,4 - 9 Years,2 months
15,Information Technology,Associate QA Engineer,Full-time,Hyderabad,1 - 3 Years,a month
16,Information Technology,System Engineer,Internship,Mauritius,0 - 1 Years,a month
17,Information Technology,Embedded Engineer,Full-time,Hyderabad,2 - 4 Years,a month
18,Information Technology,Data Scientist Intern,Internship,Hyderabad,0 - 4 Years,a month
19,Information Technology,Cloud Native Developer,Full-time,Hyderabad,2 - 5 Years,a month
20,Quality Assurance,Sr.QA Engineer,Full-time,Hyderabad,3 - 5 Years,19 days
21,Project Management,Project Manager,Full-time,Hyderabad,2 - 5 Years,14 days
22,Human Resources,Talent Acquisition Specialist,Full-time,Hyderabad,1 - 5 Years,14 days
23,Information Technology,Computer Vision Engineer / Machine Learning En...,Internship,Hyderabad,0 - 1 Years,10 days
24,Information Technology,Python Developer,Full-time,Hyderabad,1 - 3 Years,9 days
25,Marketing,Social Media Intern,Internship,Hyderabad,0 Years,17 hours
26,Information Technology,Magento Developer,Full-time,Hyderabad,2 - 8 Years,16 hours